@font-face {
  font-family: "thabit";
  src: local("thabit"),
   url('../font/thabit.ttf') format("thabit");
}

@keyframes onHoverAnimation {
    0% {
      background-color: #303030;  
    }
    50%{
        background-color: #373737;
    }
    100% {
        background-color: #303030;
    }
}

*{
    color: white;
    font-family: "thabit";
    cursor: url('../svg/precision.svg') 40 40, auto;	
    
}
button, [type=button], [type=reset], [type=submit], [role=button] {
    cursor: unset !important;
}

.aim:hover{
    cursor: url('../svg/precisionRed.svg') 40 40, auto !important;
}

p:hover,time:hover,li:hover{
    text-transform: uppercase;
    color: red;
}

.shell-wrap p:hover,.shell-wrap li:hover{
    text-transform: unset;
    color: unset;
}

