@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .get_started{
        @apply inline-flex items-center px-8 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;
    }

    .about_me{
        /* @apply transform -rotate-90 ; */
    }
    svg{
        font   : bold 100px Century Gothic, Arial;
    }
    text{
        fill            : none;
        stroke          : white;
        stroke-width    : 2.5px;
        stroke-linejoin : round;
    }

}