@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply inline-flex items-center px-8 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;
  }
  .card {
    @apply w-full lg:min-h-[550px] bg-red-600 rounded-lg z-20 backdrop-filter backdrop-blur-md bg-opacity-30 shadow-2xl text-gray-200;
  }
  .page {
    @apply rounded-xl bg-blue-800 min-w-[300px] w-[300px] min-h-[550px] mr-4 overflow-hidden hover:mt-[-30px] transition-all;
    scroll-snap-align: start;
    scroll-margin-left: min(100px, 20vw);
    box-shadow: #fff 0px 0px 0px 2px inset, #171720 10px -10px 0px -3px, #3793ff 10px -10px, #171720 20px -20px 0px -3px, #4de94c 20px -20px, #171720 30px -30px 0px -3px, #fe0 30px -30px, #171720 40px -40px 0px -3px, #ff8c00 40px -40px, #171720 50px -50px 0px -3px, #f60000 50px -50px;
  }
  .circle {
    @apply rounded-full h-80 w-80 flex bg-yellow-400 left-0 top-0 z-30 shadow-2xl backdrop-filter backdrop-hue-rotate-180 bg-opacity-30;
    left: -500px;
    transform: translate(-50%, -50%);
  }
  .tag {
    @apply mr-2 mt-2 text-xs inline-flex items-center font-bold px-3 py-1 rounded-full border;
  }
  svg {
    font: bold 100px Century Gothic, Arial;
  }
  text {
    fill: none;
    stroke: white;
    stroke-width: 2.5px;
    stroke-linejoin: round;
  }
  .parallax-effect-img {
    transform-style: preserve-3d;
    transform: perspective(1000px);
    background-image: url("/image/background.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .inner-element {
    transform: translateZ(40px) scale(0.8);
  }
  .slide-group__wrapper {
    @apply overflow-x-scroll pl-[min(100px,20vw)];
    touch-action: pan-x;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .slide-group__wrapper::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .slide-group__wrapper {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
